<meta charset="utf-8" lang="en"><style class="fallback">body{visibility:hidden;}</style>

  **Markdeep using the "LaTeX" Stylesheet**
  Morgan McGuire
  December 22, 2016


Introduction
====================

Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
laudantium, totam rem aperiam, beatae vitae dicta sunt explicabo.

Neque porro quisquam est, `GL_ONE_MINUS_SRC_ALPHA`, qui dolorem ipsum quia dolor sit amet,
consectetur. Quis autem vel eum iure http://cicero.org reprehenderit qui in ea voluptate velit
esse quam nihil molestiae consequatur[^footnote]? See Goosens et al. [#1] for a further discussion.

[^footnote]: Footnote/endnote text


Subsection
---------------

Itemized list:

* apple
* peach

- - - 

Enumerated list:

1. bird
2. cat


### Subsubsection

~~~~~~~~~~~~~~~~~~~~~~~~~~~
def code():
  example()
  return 2
~~~~~~~~~~~~~~~~~~~~~~~~~~~


<!--
**********************************************************
* --------------------------------------------.
*    <-.     .->     ^         -.              |
*       |   |         '-_         v
*                             
*  Some text in a diagram
**********************************************************
[Figure [x]: A diagram]

-->

(#) References

[#1] Michel Goossens, Frank Mittelbach, and Alexander Samarin. _The LaTeX Companion_. Addison-Wesley, Reading, Massachusetts, 1993.
 
[#2] Albert Einstein. _Zur Elektrodynamik bewegter K&ouml;rper_. (German) [_On the electrodynamics of moving bodies_]. 
 Annalen der Physik, 322(10):891–921, 1905.
 


<link rel="stylesheet" href="latex.css">



<!-- Markdeep: --><script src="markdeep.min.js"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility='visible')</script>

